<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="background.html">Background</a></li>
  <li><a href="profiles.html" class="item">Profiles</a></li>
  <li><a href="downloads.html" class="item">Downloads</a></li>
  <li><a href="changes.html">Version History</a></li>
</ul>
